h1{
	text-align: center;
}

.buttons {	
	justify-content: center;	
	text-align: center;			
	margin-bottom:  2%;

}

ul li{
	display: inline-block;
	max-width: 200px;
	margin-right: 8px;
	margin-bottom: 8px;
}

li img{
	max-width: 100%;
	vertical-align: middle;
}

